@model IQueryable<PePets.Models.Advert>

@await Html.PartialAsync("StartPagePartial")

<div id="advertsPage">
    <div class="text-center">
        <h1 class="display-4">Все объявления</h1>
    </div>

    <div class="row justify-content-center">
        @foreach (Advert advert in Model)
        {
            <div class="col-sm-8">
                <div class="card advertCard">
                    <div class="row">
                        <div class="col-3">
                            @if (advert.Images != null && advert.Images.Length > 0)
                            {
                                <img src=@advert.Images.First() class="card-image" />
                            }
                            else
                            {
                                <img src="~/img/no-image.png" class="card-image"/>
                            }
                        </div>
                        <div class="col-8 description">
                            <div class="row">
                                <div class="col-8">
                                    <h2>@advert.Title</h2>
                                    <p>@advert.Description</p>
                                </div>
                                <div class="col-4 text-right">
                                    <h3>@advert.Cost.ToString("c")</h3>
                                </div>
                            </div>
                            <hr noshade>
                            <div class="row">
                                <div class="col-9">
                                    <span>@advert.PetDescription.Type</span>
                                    <span>@advert.PetDescription.Sex</span>
                                    <span>@advert.PetDescription.Color</span>
                                    <span>@advert.PetDescription.Breed</span>
                                    <span>@advert.PetDescription.Age</span>
                                </div>
                                <div class="col-3 text-right">
                                    <p>@advert.Location</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 text-right">
                            <div class="crud-block">
                                <div class="btn-crud">
                                    <a href="#" class="btn-like text-decoration-none">
                                        <i class="far fa-heart"></i>
                                    </a>
                                </div>
                                <div class="btn-crud">
                                    <a asp-controller="Advert" asp-action="AdvertEdit" asp-route-id="@advert.Id" class="btn-edit text-decoration-none">
                                        <i class="far fa-edit"></i>
                                    </a>
                                </div>
                                <div class="btn-crud">
                                    <form method="post" asp-controller="Advert" asp-action="DeleteAdvert">
                                        <input type="hidden" value="@advert.Id" name="Id" />
                                        <button class="btn-delete border-0 bg-white" type="submit"><i class="far fa-trash-alt"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
